<div class="ListOwners">
    <h1>Owners List</h1>
    <ul>
        <li><a routerLink="#" routerLinkActive="active"
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Ownner Example : {{ ownerName }}</a></li>
        <ul>
            <li>Cost per Hour : {{ costH }}</li>
            <li>Cost per KG : {{ costKG }}</li>
            <li>Filament diameter : {{ filament_diameter }} </li>
        </ul>
    </ul>

    <ul>
        <li><a routerLink="#" routerLinkActive="active"
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Ownner Example : {{ ownerName }}</a></li>
        <ul>
            <li>Cost per Hour : {{ costH }}</li>
            <li>Cost per KG : {{ costKG }}</li>
            <li>Filament diameter : {{ filament_diameter }} </li>
        </ul>
    </ul>


    <ul>
        <li><a routerLink="#" routerLinkActive="active"
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Ownner Example : {{ ownerName }}</a></li>
        <ul>
            <li>Cost per Hour : {{ costH }}</li>
            <li>Cost per KG : {{ costKG }}</li>
            <li>Filament diameter : {{ filament_diameter }} </li>
        </ul>
    </ul>
</div>
