<div class="col-sm">
    <h1>Machine Owner Information</h1>
    <form [formGroup]="documentsForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="nameOwner">Machine Owner : </label>
            <input  formControlName="nameOwner" type="String" id="nameOwner" class="form-control">
        </div>
        <div class="form-group">
            <label for="costH">Cost per hour (DT) : </label>
            <input formControlName="costH" type="Number" id="costH" class="form-control" default=10>
        </div>

        <div class="form-group">
            <label for="costKG">Filament cost (KG) : </label>
            <input type="number" formControlName="costKG" id="costKG" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="filament_diameter">Filament diameter (KG) : </label>
            <input type="number" formControlName="filament_diameter" id="filament_diameter" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="costLabor">Labor cost (DT/hour) : </label>
            <input type="number" formControlName="costLabor" id="costLabor" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="marg">Extra margin (%) : </label>
            <input type="text" formControlName="marg" id="marg" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="material">Material type : </label>
            <select formControlName="material" class="form-control">
                <option value="mat1" selected="selected">Material 1</option>
                <option value="mat2" >Material 2</option>
                <option value="mat3">Material 3</option>
            </select>
        </div>

        <div class="form-group">
            <label for="PrintSpeed">Printing speed : </label>
            <input type="number" formControlName="PrintSpeed" id="PrintSpeed" class="form-control" required>
        </div>


        <div class="form-group">
            <label for="extra">Extra cost : </label>
            <input type="number" formControlName="extra" id="extra" class="form-control" required>
        </div>
        <br>

        <button class="btn btn-primary" type="submit" (click)="createOwner()">Submit</button>
        <button type="button" class="btn btn-primary" (click)="resetOwnerForm(documentsForm)">Reset</button>
    </form>
</div>

<!--Stepper
<div>
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
          <form [formGroup]="secondFormGroup">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
-->